/*TrivaGame stylings*/

body {
	background-color: #eab25b;
	background-image: url(../images/Savannah-HD-Wallpaper.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}


#wrapper {
	text-align: center;
	margin-top: 100px;
}


#main-menu {
	margin-top: 25%;
}

#quiz-content {
	display: none;
}

#score {
	display: none;
}
